.brand{

    text-align:center;

    padding:30px;

}

.brand img{

    width:90px;

}

.brand h3{

    margin-top:15px;

    color:white;

}

.sidebar a{

    padding:18px;

    color:white;

    display:block;

}

.sidebar a.active{

    background:rgba(255,255,255,.15);

}

.stat-card{

    background:white;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 20px rgba(0,0,0,.05);

}

.stat-card h2{

    margin-top:10px;

    font-size:48px;

}

.status-card{

    border-radius:20px;

    color:white;

    padding:25px;

}

.status-card h1{

    font-size:55px;

}
