:root{

    --primary:#005BAC;
    --secondary:#0F172A;
    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;
    --background:#F5F7FA;

}

body{

    margin:0;

    background:var(--background);

    font-family:Poppins,sans-serif;

}
