:root{

    --primary:#0d5cab;

    --success:#28c76f;

    --danger:#ea5455;

    --warning:#ff9f43;

    --background:#eef2f6;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:Poppins,sans-serif;

}

body{

    background:var(--background);

}

a{

    text-decoration:none;

}

.card{

    border:none;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}
